

header{
 background-color: rgb(255, 255, 255);
}

header img{
  position: relative;
  padding: 1px;
}

#imgPadding{
 padding-left: 6px;
}


header h3{
  position:absolute;
  left: 50px;
  font-family: 'Brush Script MT', cursive;
  margin-left: 5px;
  font-size: 28px;
  top: 0px;

}

hr.new2 {
    border-top: 5px dashed rgb(64, 76, 77);
  }

header h6{
  position: absolute;
  font-family: 'Courier New', monospace;
  top: 35px;
  font-size: 8px;
  left: 55px;
}



main h2{
  font-family: 'Impact, fantasy';
}

nav{
 position:absolute;
 top:1px;
 right: 1px;
}

nav li {
  display: inline-block
}



.heder{
    transform: scaleY(1.5);

}

#heroImg{
    width: 100%;
}

main p{
    color:grey;
}


footer{
    height: 500px;
}